<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css' )}}">
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
</head>

<body onload="showTime()">
    <div class="info-bar">
        <p>User: username</p>
        <p><span id="getMonth"></span> <span id="getMonthDay"></span></p>
        <p id="DigitalCLOCK"></p>
    </div>
    {% block content %}

    {% endblock %}
    <div class="info-bar">
        <p><span class="dot"></span></p>
        <p>messages</p>
        <p>V : 1.0.0</p>
    </div>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>