
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #151515;
}

.flex {
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    color: #e7e7e7;
}


.content{
    display: flex;
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    margin: 0 5px;
    background-color: #e7e7e7;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.login-wrapper {
    border: solid 3px #151515;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 50vw;
}

.pad-view{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.pad-view input{
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    width: 250px;
    text-align: center;
}

.number-pad {
    display: flex;
    flex-wrap: wrap;
}

.number-pad input{
    flex: 1 0 33.3333%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 40px;
}