{% extends "layouts/base.html" %}

{% block content %}

<!-- main page style -->
<style>
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        grid-auto-rows: minmax(100px, 1fr);
        background-color: #696969;
      }
      .cart {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: aliceblue;
      }
      .sidemenu {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: aqua;
      }
      .numberpad {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: blue;
      }
      .one {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: lightblue;
      }
      .two {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: lightblue;
      }
      .three {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: lightblue;
      }
      .four {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: lightblue;
      }
      .five {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: lightblue;
      }
      .six {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: lightblue;
      }
</style>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- taco onClick jquery script-->
<script type=text/javascript>
    $(function() {
      $('.itemOptionAction').bind('click', function() {
        $.getJSON('/user/addCartItem', {
          itemCode: $(this).attr('id'),
        }, function(data) {
          $("#result").text(data.result);
          location.reload();
        });
        return false;
      });
    });
</script>


<div class="wrapper">
    <div class="cart" id="cart">
        <p id=result>
            {% for item in cartList %}
            <p>{{ item[0], item[1], item[2], item[3] }} </p>
            {% endfor %}
        </p>
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          {{ form.submit() }}
        </form>
    </div>
    <div class="one">
        <form>
            <a href="#" id=101 class="itemOptionAction">
                <button type = "submit" name = "tacos" value = "tacoImage">
                    <img src="{{ url_for('static', filename='images/tacos.jpg')}}" width="100" height ="50"/></button></a>
        </form>
    </div>
    <div class="two">
        <a href="#" id=102 class="itemOptionAction">
            <button type = "submit" name = "tortas" value = "tortaImage">
                <img src="{{ url_for('static', filename='images/tortas.jpg')}}" width="100" height ="50"/></button></a>
    </div>
    <div class="three">
        <button type = "submit" name = "hamburguesas" value = "hamburguesasImage">
        <img src="{{ url_for('static', filename='images/hamburguesa.jpg')}}" width="100" height ="50"/></button>
    </div>  
    <div class="four">
        <button type = "submit" name = "tapatios" value = "tapatiosImage">
        <img src="{{ url_for('static', filename='images/tapatios.jfif')}}" width="100" height ="50"/></button>
    </div>
    <div class="five">
        <button type = "submit" name = "gorditas" value = "gorditasImage">
        <img src="{{ url_for('static', filename='images/gorditas.jpg')}}" width="100" height ="50"/></button>
    </div>
    <div class="six">
        <button type = "submit" name = "quesadillas" value = "quesadillasImage">
        <img src="{{ url_for('static', filename='images/quesadillas.jfif')}}" width="100" height ="50"/></button>
    </div>
</div>

{% endblock %}