{% extends "layouts/base.html" %}

{% block content %}

<!-- main page style -->
<style>
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        grid-auto-rows: minmax(100px, 1fr);
        background-color: #696969;
      }
      .cart {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: aliceblue;
      }
      .sidemenu {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: aqua;
      }
      .numberpad {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: blue;
      }
      .one {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: lightblue;
      }
      .two {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: lightblue;
      }
      .three {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: lightblue;
      }
      .four {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: lightblue;
      }
      .five {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: lightblue;
      }
      .six {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: lightblue;
      }

      /* Style the tab */
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      /* Style the buttons that are used to open the tab content */
      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }


      /* Popup box BEGIN */
      .hover_bkgr_fricc{
        background:rgba(0,0,0,.4);
        cursor:pointer;
        display:none;
        height:100%;
        position:fixed;
        text-align:center;
        top:0;
        width:100%;
        z-index:10000;
      }
      .hover_bkgr_fricc .helper{
        display:inline-block;
        height:100%;
        vertical-align:middle;
      }
      .hover_bkgr_fricc > div {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 551px;
        min-height: 100px;
        vertical-align: middle;
        width: 60%;
        position: relative;
        border-radius: 8px;
        padding: 15px 5%;
      }
      .popupCloseButton {
        background-color: #fff;
        border: 3px solid #999;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        font-family: arial;
        font-weight: bold;
        position: absolute;
        top: -20px;
        right: -20px;
        font-size: 25px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
      }
      .popupCloseButton:hover {
        background-color: #ccc;
      }
      .trigger_popup_fricc {
        cursor: pointer;
        font-size: 20px;
        margin: 20px;
        display: inline-block;
        font-weight: bold;
      }


      /* HIDE RADIO */
      [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      /* IMAGE STYLES */
      [type=radio] + img {
        cursor: pointer;
      }

      /* CHECKED STYLES */
      [type=radio]:checked + img {
        outline: 2px solid #f00;
      }


      .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {background-color: #ddd;}
      
      .show {display: block;}
</style>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- item onClick jquery script-->
<script type=text/javascript>
    $(function() {
      $('.itemOptionAction').bind('click', function() {
        $.getJSON('/user/addCartItem', {
          itemCode: $(this).attr('id'), 
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
</script>

<!-- pop up script -->
<script>
  $(window).load(function () {
    $(".trigger_popup_fricc").click(function(){
       $('.hover_bkgr_fricc').show();
    });
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
        location.reload();
    });
    $('#meatSubmit').click(function(){
      $('.hover_bkgr_fricc').hide();
      location.reload();
  });
  });
</script>

<!-- pop up quantity/meat submit onClick jquery script-->
<script type=text/javascript>
  $(function() {
    $('#meatSubmit').bind('click', function() {
      $.getJSON('/user/addCartItem', {
        quantity: document.quantForm.keypadVar.value,
        meat: $('input[name="meatType"]:checked').attr('value'),
      }, function(data) {
        $("#result").text(data.result);
        //location.reload();
      });
      return false;
    });
  });
</script>

<!-- Close the dropdown menu if the user clicks outside of it-->
<script>
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
        }
    }
    }
</script>

<!-- content inside quantity pop up box-->
<div class="hover_bkgr_fricc">
  <span class="helper"></span>
  <div>
      <div class="popupCloseButton">&times;</div>
      <form action="" method="POST" name=meatForm id=meatForm>
        <label>
          <input type="radio" name="meatType" value="pastor" checked id=201>
          <img src="{{ url_for('static', filename='images/pastor.jfif')}}" width="50" height="50">
        </label>

        <label>
          <input type="radio" name="meatType" value="asada" id=202>
          <img src="{{ url_for('static', filename='images/asada.jfif')}}" width="50" height="50">
        </label>

        <label>
          <input type="radio" name="meatType" value="barbacoa" id=203>
          <img src="{{ url_for('static', filename='images/barbacoa.jpg')}}" width="50" height="50">
        </label>

        <label>
          <input type="radio" name="meatType" value="desebrada" id=204>
          <img src="{{ url_for('static', filename='images/desebrada.jfif')}}" width="50" height="50">
        </label>

        <label>
          <input type="radio" name="meatType" value="buche" id=205>
          <img src="{{ url_for('static', filename='images/buche.jpg')}}" width="50" height="50">
        </label>

        <label>
          <input type="radio" name="meatType" value="chicharron" id=206>
          <img src="{{ url_for('static', filename='images/chicharron.jpg')}}" width="50" height="50">
        </label>

        <label>
          <input type="radio" name="meatType" value="lengua" id=207>
          <img src="{{ url_for('static', filename='images/lengua.jpg')}}" width="50" height="50">
        </label>

        <label>
          <input type="radio" name="meatType" value="tripa" id=208>
          <img src="{{ url_for('static', filename='images/tripa.jpg')}}" width="50" height="50">
        </label>

        <br>
        <input type="submit" value="Enter" id='meatSubmit'>
      </form>
  </div>
</div>


<div class="wrapper">
    <div class="cart" id="cart">
        <p id=result>
            {% for item in cartList %}
              <div class="dropdown">
                {% if item[0] %}
                  <button onClick="myFunction('{{ item[1] }}_{{ item[5] }}'); toggleExtraPopups('{{ item[1] }}_{{ item[5] }}')" class="dropbtn">{{ item[1], item[2], item[3], item[4], item[5] }}</button>
                  <div id="{{ item[1]}}_{{ item[5] }}" class="dropdown-content">
                    <a href="#">{{ item[1] }}_{{ item[5] }}</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
              </div>
                
              {% endif %}
            {% endfor %}
        </p>
    </div>
    
    <div class="sidemenu tab">
      <button class="tablinks" onclick="changeTab(event, 'entrees')">Entrees</button>
      <button class="tablinks" onclick="changeTab(event, 'beverages')">Beverages</button>
    </div>

    
    <div class="one tabcontent entrees">
      <form>
          <a href="#" id=101 class="itemOptionAction trigger_popup_fricc">
              <button type = "submit" name = "tacos" value = "tacoImage">
                  <img src="{{ url_for('static', filename='images/tacos.jpg')}}" width="100" height ="50"/></button></a>
      </form>
    </div>
    <div class="two tabcontent entrees">
        <a href="#" id=102 class="itemOptionAction trigger_popup_fricc">
            <button type = "submit" name = "tortas" value = "tortaImage">
                <img src="{{ url_for('static', filename='images/tortas.jpg')}}" width="100" height ="50"/></button></a>
    </div>
    <div class="three tabcontent entrees">
        <button type = "submit" name = "hamburguesas" value = "hamburguesasImage">
        <img src="{{ url_for('static', filename='images/hamburguesa.jpg')}}" width="100" height ="50"/></button>
    </div>  
    <div class="four tabcontent entrees">
        <button type = "submit" name = "tapatios" value = "tapatiosImage">
        <img src="{{ url_for('static', filename='images/tapatios.jfif')}}" width="100" height ="50"/></button>
    </div>
    <div class="five tabcontent entrees">
        <button type = "submit" name = "gorditas" value = "gorditasImage">
        <img src="{{ url_for('static', filename='images/gorditas.jpg')}}" width="100" height ="50"/></button>
    </div>
    <div class="six tabcontent entrees">
        <button type = "submit" name = "quesadillas" value = "quesadillasImage">
        <img src="{{ url_for('static', filename='images/quesadillas.jfif')}}" width="100" height ="50"/></button>
    </div>
    <div class="tabcontent beverages">

    </div>

    <div class="numberpad">
      <form action="" method="POST" name=quantForm id=quantForm>
        <input type="text" id="keypadVar" name="keypadVar"><br>
        <input type="button" value="1" onClick="addNumber(this);">
        <input type="button" value="2" onClick="addNumber(this);">
        <input type="button" value="3" onClick="addNumber(this);">
        <input type="button" value="4" onClick="addNumber(this);">
        <input type="button" value="5" onClick="addNumber(this);">
        <input type="button" value="6" onClick="addNumber(this);">
        <input type="button" value="7" onClick="addNumber(this);">
        <input type="button" value="8" onClick="addNumber(this);">
        <input type="button" value="9" onClick="addNumber(this);">
        <input type="button" value="0" onClick="addNumber(this);">
        <input type="reset" value="Clear">
        {{ form.hidden_tag() }}
        {{ form.submit() }}
        
      </form>
    </div>
    
</div>

{% endblock %}